{% extends "admin/base_site.html" %}
{% block content %}
<h1>Bulk Add States</h1>
<form method="post">
    {% csrf_token %}
    <label>Select Country:</label><br>
    <select name="country" style="padding: 5px; width: 300px; margin-bottom: 15px;">
        {% for c in countries %}
            <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
    </select><br>
    
    <label>Enter States </label><br>
    <textarea name="states_text" rows="10" style="width: 100%; padding: 10px;"></textarea><br><br>
    
    <button type="submit" style="background: #417690; color: white; padding: 10px 20px; border: none;">Save All States</button>
</form>
{% endblock %}